In [8]:
import pandas as pd
from pathlib import PosixPath
pd.set_option('display.max_colwidth', -1)

In [ ]:
pd.option_context('display')

In [10]:
path = PosixPath('../../Downloads/Jigsaw_Toxicity_Classification/')

In [11]:
! ls {path}

sample_submission.csv  test.csv  train.csv

In [12]:
df_train = pd.read_csv(path/'train.csv')

In [13]:
df_train.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want your mother to read this??' Really great idea, well done!",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,"Thank you!! This would make my life a lot less anxiety-inducing. Keep it up, and don't let anyone get in your way!",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos to you for taking it on. Very impressive!,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on my site? When will you be releasing it?,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [14]:
df_train.shape

(1804874, 45)

In [15]:
df_train.columns

Index(['id', 'target', 'comment_text', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'asian', 'atheist', 'bisexual',
       'black', 'buddhist', 'christian', 'female', 'heterosexual', 'hindu',
       'homosexual_gay_or_lesbian', 'intellectual_or_learning_disability',
       'jewish', 'latino', 'male', 'muslim', 'other_disability',
       'other_gender', 'other_race_or_ethnicity', 'other_religion',
       'other_sexual_orientation', 'physical_disability',
       'psychiatric_or_mental_illness', 'transgender', 'white', 'created_date',
       'publication_id', 'parent_id', 'article_id', 'rating', 'funny', 'wow',
       'sad', 'likes', 'disagree', 'sexual_explicit',
       'identity_annotator_count', 'toxicity_annotator_count'],
      dtype='object')

In [18]:
df_train['toxicity_annotator_count'].value_counts()

4       1185412
10      262216
6       195839
5       76341
80      8537
70      8383
76      5188
7       5170
66      4496
74      3999
64      3900
60      2793
65      2479
62      2462
68      2432
72      2351
75      2265
9       2202
58      2031
71      1897
69      1607
56      1600
61      1501
54      1485
59      1439
11      1259
52      1174
63      1104
55      1072
67      1026
        ...
1715    1
1711    1
1709    1
274     1
3338    1
256     1
1246    1
1234    1
211     1
1235    1
1237    1
3287    1
217     1
1241    1
218     1
1243    1
220     1
1247    1
3316    1
225     1
1249    1
228     1
229     1
1255    1
3305    1
2283    1
1259    1
1261    1
242     1
3071    1
Name: toxicity_annotator_count, Length: 775, dtype: int64