In [4]:
import pandas as pd
import sklearn

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train, val = train_test_split((train_df['Image_iD'], train_df['category']))

KeyError: 'Image_ID'

In [7]:
image_id

NameError: name 'image_id' is not defined

In [2]:
train_df = pd.read_csv('../../Downloads/Kaggle_Runs/HE_Challenge_data/train.csv')

In [3]:
train_df

       image_id  category
0             0        77
1             1        81
2             2        52
3             3        72
4             4        58
5             5         2
6             6        75
7             7        67
8             8        51
9             9        15
10           10        77
11           11        15
12           12        75
13           13        52
14           14        58
15           15         9
16           16        77
17           17        81
18           18        86
19           19         2
20           20        97
21           21        39
22           22        51
23           23         4
24           24        65
25           25         4
26           26        75
27           27        65
28           28        51
29           29         9
...         ...       ...
18510     18510        57
18511     18511        42
18512     18512        79
18513     18513        72
18514     18514        82
18515     18515        41
18516     18516        75
18517     18517       101
18518     18518        22
18519     18519        76
18520     18520        30
18521     18521        59
18522     18522        38
18523     18523        83
18524     18524        18
18525     18525        13
18526     18526        60
18527     18527        74
18528     18528        96
18529     18529       100
18530     18530        90
18531     18531        37
18532     18532        16
18533     18533        40
18534     18534        74
18535     18535        22
18536     18536        91
18537     18537        78
18538     18538        74
18539     18539        29

[18540 rows x 2 columns]

In [4]:
(train_df.category.unique())

array([ 77,  81,  52,  72,  58,   2,  75,  67,  51,  15,   9,  86,  97,
        39,   4,  65, 100,  63,  56,  19,  57,  41,  12,  25,  95,  60,
        87,  47,  54,  82,  62,  70,  83,  73,  37,  74,  24,  20,  85,
        11,  40,  76,  46,   1, 102,  69,  35,  94,  28,  29,  93,  78,
        34,  21,  88,  36,  49,  44,  10,  80,  59,  23,  50,  96,  90,
         8,  42,  99,  89,  68,  55,   3,  45,  30,  66,  71,  18,  84,
        33,  32,  38, 101,   5,  98,  16,  22,  43,  53,   7,  64,  27,
        92,  17,  79,  48,  14,  91,  31,  61,  13,  26,   6])

In [5]:
18540*.20, 18540-3708

(3708.0, 14832)

In [6]:
18540*0.30, 18540-5562

(5562.0, 12978)

In [7]:
pd.options.display.max_rows = 102

In [8]:
train_df.category.value_counts()

51     582
77     567
46     441
73     438
89     414
74     387
81     375
94     366
88     348
78     309
83     297
43     294
41     288
95     288
75     270
58     258
82     252
60     246
56     246
76     243
37     243
80     237
65     231
72     216
53     210
44     210
23     207
96     207
50     207
12     198
11     198
84     195
30     192
52     192
8      192
17     192
90     186
18     186
98     186
29     177
71     177
91     171
36     171
48     162
55     162
40     153
57     153
59     153
47     153
97     150
92     150
28     150
5      147
85     144
87     144
99     144
70     141
66     138
54     138
2      135
42     135
22     135
101    132
86     132
38     126
62     126
20     126
4      126
69     123
63     123
68     123
31     117
64     117
61     114
19     111
15     111
49     111
100    111
13     111
14     108
102    108
93     105
9      105
33     105
32     102
6      102
10     102
35      99
67      96
24      96
39      93
79      93
25      93
26      93
16      93
34      90
3       90
21      90
7       90
1       90
27      90
45      90
Name: category, dtype: int64

In [9]:
class_df = pd.DataFrame(train_df.category.value_counts())

In [10]:
class_df.head()

    category
51       582
77       567
46       441
73       438
89       414

In [11]:
class_df.reset_index(inplace=True)

In [12]:
class_df.head()

   index  category
0     51       582
1     77       567
2     46       441
3     73       438
4     89       414

In [13]:
class_df.columns = ['Class', 'Count']

In [15]:
class_df

     Class  Count
0       51    582
1       77    567
2       46    441
3       73    438
4       89    414
5       74    387
6       81    375
7       94    366
8       88    348
9       78    309
10      83    297
11      43    294
12      41    288
13      95    288
14      75    270
15      58    258
16      82    252
17      60    246
18      56    246
19      76    243
20      37    243
21      80    237
22      65    231
23      72    216
24      53    210
25      44    210
26      23    207
27      96    207
28      50    207
29      12    198
30      11    198
31      84    195
32      30    192
33      52    192
34       8    192
35      17    192
36      90    186
37      18    186
38      98    186
39      29    177
40      71    177
41      91    171
42      36    171
43      48    162
44      55    162
45      40    153
46      57    153
47      59    153
48      47    153
49      97    150
50      92    150
51      28    150
52       5    147
53      85    144
54      87    144
55      99    144
56      70    141
57      66    138
58      54    138
59       2    135
60      42    135
61      22    135
62     101    132
63      86    132
64      38    126
65      62    126
66      20    126
67       4    126
68      69    123
69      63    123
70      68    123
71      31    117
72      64    117
73      61    114
74      19    111
75      15    111
76      49    111
77     100    111
78      13    111
79      14    108
80     102    108
81      93    105
82       9    105
83      33    105
84      32    102
85       6    102
86      10    102
87      35     99
88      67     96
89      24     96
90      39     93
91      79     93
92      25     93
93      26     93
94      16     93
95      34     90
96       3     90
97      21     90
98       7     90
99       1     90
100     27     90
101     45     90

In [ ]:
class_df.head()

In [40]:
class_df.iloc[0].Class

51

In [41]:
ten_per = {}
for idx, count in enumerate(class_df['Count']):
    ten_per[class_df.iloc[idx].Class] = max(int(count*.20), 20)

582
567
441
438
414
387
375
366
348
309
297
294
288
288
270
258
252
246
246
243
243
237
231
216
210
210
207
207
207
198
198
195
192
192
192
192
186
186
186
177
177
171
171
162
162
153
153
153
153
150
150
150
147
144
144
144
141
138
138
135
135
135
132
132
126
126
126
126
123
123
123
117
117
114
111
111
111
111
111
108
108
105
105
105
102
102
102
99
96
96
93
93
93
93
93
90
90
90
90
90
90
90

In [42]:
ten_per

{51: 116,
 77: 113,
 46: 88,
 73: 87,
 89: 82,
 74: 77,
 81: 75,
 94: 73,
 88: 69,
 78: 61,
 83: 59,
 43: 58,
 41: 57,
 95: 57,
 75: 54,
 58: 51,
 82: 50,
 60: 49,
 56: 49,
 76: 48,
 37: 48,
 80: 47,
 65: 46,
 72: 43,
 53: 42,
 44: 42,
 23: 41,
 96: 41,
 50: 41,
 12: 39,
 11: 39,
 84: 39,
 30: 38,
 52: 38,
 8: 38,
 17: 38,
 90: 37,
 18: 37,
 98: 37,
 29: 35,
 71: 35,
 91: 34,
 36: 34,
 48: 32,
 55: 32,
 40: 30,
 57: 30,
 59: 30,
 47: 30,
 97: 30,
 92: 30,
 28: 30,
 5: 29,
 85: 28,
 87: 28,
 99: 28,
 70: 28,
 66: 27,
 54: 27,
 2: 27,
 42: 27,
 22: 27,
 101: 26,
 86: 26,
 38: 25,
 62: 25,
 20: 25,
 4: 25,
 69: 24,
 63: 24,
 68: 24,
 31: 23,
 64: 23,
 61: 22,
 19: 22,
 15: 22,
 49: 22,
 100: 22,
 13: 22,
 14: 21,
 102: 21,
 93: 21,
 9: 21,
 33: 21,
 32: 20,
 6: 20,
 10: 20,
 35: 20,
 67: 20,
 24: 20,
 39: 20,
 79: 20,
 25: 20,
 26: 20,
 16: 20,
 34: 20,
 3: 20,
 21: 20,
 7: 20,
 1: 20,
 27: 20,
 45: 20}

In [50]:
sum(ten_per.values())

3699

In [44]:
min(class_df['Count'])

90

In [45]:
ten_per

{51: 116,
 77: 113,
 46: 88,
 73: 87,
 89: 82,
 74: 77,
 81: 75,
 94: 73,
 88: 69,
 78: 61,
 83: 59,
 43: 58,
 41: 57,
 95: 57,
 75: 54,
 58: 51,
 82: 50,
 60: 49,
 56: 49,
 76: 48,
 37: 48,
 80: 47,
 65: 46,
 72: 43,
 53: 42,
 44: 42,
 23: 41,
 96: 41,
 50: 41,
 12: 39,
 11: 39,
 84: 39,
 30: 38,
 52: 38,
 8: 38,
 17: 38,
 90: 37,
 18: 37,
 98: 37,
 29: 35,
 71: 35,
 91: 34,
 36: 34,
 48: 32,
 55: 32,
 40: 30,
 57: 30,
 59: 30,
 47: 30,
 97: 30,
 92: 30,
 28: 30,
 5: 29,
 85: 28,
 87: 28,
 99: 28,
 70: 28,
 66: 27,
 54: 27,
 2: 27,
 42: 27,
 22: 27,
 101: 26,
 86: 26,
 38: 25,
 62: 25,
 20: 25,
 4: 25,
 69: 24,
 63: 24,
 68: 24,
 31: 23,
 64: 23,
 61: 22,
 19: 22,
 15: 22,
 49: 22,
 100: 22,
 13: 22,
 14: 21,
 102: 21,
 93: 21,
 9: 21,
 33: 21,
 32: 20,
 6: 20,
 10: 20,
 35: 20,
 67: 20,
 24: 20,
 39: 20,
 79: 20,
 25: 20,
 26: 20,
 16: 20,
 34: 20,
 3: 20,
 21: 20,
 7: 20,
 1: 20,
 27: 20,
 45: 20}

# Taking random indices from Classes for random 20%

In [51]:
import numpy as np

In [61]:
train_df

       image_id  category
0             0        77
1             1        81
2             2        52
3             3        72
4             4        58
5             5         2
6             6        75
7             7        67
8             8        51
9             9        15
10           10        77
11           11        15
12           12        75
13           13        52
14           14        58
15           15         9
16           16        77
17           17        81
18           18        86
19           19         2
20           20        97
21           21        39
22           22        51
23           23         4
24           24        65
25           25         4
26           26        75
27           27        65
28           28        51
29           29         9
30           30        97
31           31        86
32           32         2
33           33       100
34           34        63
35           35       100
36           36       100
37           37        51
38           38        58
39           39        56
40           40        72
41           41        77
42           42        77
43           43        56
44           44        72
45           45        77
46           46        51
47           47        19
48           48        57
49           49        41
50           50        12
...         ...       ...
18489     18489        59
18490     18490        74
18491     18491        39
18492     18492        94
18493     18493        84
18494     18494        76
18495     18495         9
18496     18496        51
18497     18497        65
18498     18498        62
18499     18499         1
18500     18500        26
18501     18501        73
18502     18502        73
18503     18503        90
18504     18504        77
18505     18505        60
18506     18506        10
18507     18507        74
18508     18508        49
18509     18509         4
18510     18510        57
18511     18511        42
18512     18512        79
18513     18513        72
18514     18514        82
18515     18515        41
18516     18516        75
18517     18517       101
18518     18518        22
18519     18519        76
18520     18520        30
18521     18521        59
18522     18522        38
18523     18523        83
18524     18524        18
18525     18525        13
18526     18526        60
18527     18527        74
18528     18528        96
18529     18529       100
18530     18530        90
18531     18531        37
18532     18532        16
18533     18533        40
18534     18534        74
18535     18535        22
18536     18536        91
18537     18537        78
18538     18538        74
18539     18539        29

[18540 rows x 2 columns]

In [73]:
train_cat = train_df.sort_values(by='category')

In [74]:
train_cat['category']

       image_id  category
827         827         1
12348     12348         1
4727       4727         1
631         631         1
4720       4720         1
9529       9529         1
8463       8463         1
5520       5520         1
11618     11618         1
12249     12249         1
6707       6707         1
14326     14326         1
608         608         1
11065     11065         1
7292       7292         1
6211       6211         1
6763       6763         1
15943     15943         1
8485       8485         1
5512       5512         1
5130       5130         1
10609     10609         1
18160     18160         1
100         100         1
6053       6053         1
1338       1338         1
1336       1336         1
16224     16224         1
6059       6059         1
18031     18031         1
4908       4908         1
12536     12536         1
6836       6836         1
8796       8796         1
13892     13892         1
10836     10836         1
15759     15759         1
18234     18234         1
16226     16226         1
12145     12145         1
11462     11462         1
17182     17182         1
5661       5661         1
11743     11743         1
16886     16886         1
11742     11742         1
966         966         1
5287       5287         1
16961     16961         1
14687     14687         1
8212       8212         1
...         ...       ...
10164     10164       102
12359     12359       102
14734     14734       102
13327     13327       102
4135       4135       102
7491       7491       102
10430     10430       102
4884       4884       102
7364       7364       102
1206       1206       102
17792     17792       102
9884       9884       102
15390     15390       102
17141     17141       102
5889       5889       102
16780     16780       102
7954       7954       102
9906       9906       102
4890       4890       102
830         830       102
17630     17630       102
5680       5680       102
17450     17450       102
17622     17622       102
13979     13979       102
9422       9422       102
3708       3708       102
615         615       102
476         476       102
10586     10586       102
5133       5133       102
16423     16423       102
18003     18003       102
6065       6065       102
5671       5671       102
12803     12803       102
7810       7810       102
12695     12695       102
18203     18203       102
13614     13614       102
6061       6061       102
5277       5277       102
6556       6556       102
8597       8597       102
5275       5275       102
16679     16679       102
15755     15755       102
13870     13870       102
269         269       102
12476     12476       102
17287     17287       102

[18540 rows x 2 columns]

In [1]:
import numpy as np

In [16]:
np.random.seed(42)
np.random.permutation(10)

array([8, 1, 5, 0, 7, 2, 9, 4, 3, 6])