In [2]:
import warnings
warnings.filterwarnings('ignore')

import os
import gc
import joblib
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics, preprocessing
from tensorflow.keras import layers
from tensorflow.keras import optimizers
from tensorflow.keras.models import Model,load_model
from tensorflow.keras import callbacks
from tensorflow.keras import backend as K
from tensorflow.keras import utils

In [3]:
def auc(y_true, y_pred):
    def fallback_auc(y_true, y_pred):
        try:
            return metrics.roc_auc_score(y_true, y_pred)
        except:
            return 0.5
    return tf.py_function(fallback_auc, (y_true, y_pred), tf.double)
#     return metrics.roc_auc_score(y_true, y_pred)

In [4]:
def create_model(data, catcols):
    inputs = []
    outputs = []
    for c in catcols:
        num_unique_values = int(data[c].nunique())
        embed_dim = int(min(np.ceil((num_unique_values)/2), 50))
        inp = layers.Input(shape=(1,))
        out = layers.Embedding(num_unique_values+1, embed_dim, name=c)(inp)
        out = layers.SpatialDropout1D(0.3)(out)
        out = layers.Reshape(target_shape=(embed_dim, ))(out)
        inputs.append(inp)
        outputs.append(out)
        
    x = layers.Concatenate()(outputs)
    x = layers.BatchNormalization()(x)
    
    x = layers.Dense(300, activation='relu')(x)
    x = layers.Dropout(0.3)(x)
    x = layers.BatchNormalization()(x)
    
    x = layers.Dense(300, activation='relu')(x)
    x = layers.Dropout(0.3)(x)
    x = layers.BatchNormalization()(x)

    y = layers.Dense(2, activation='softmax')(x)

    model = Model(inputs=inputs, outputs=y)
    
    return model

In [38]:
# experiment
model = create_model(data, features)
model

WARNING:tensorflow:From /home/anubhav/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/anubhav/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/layers/core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [40]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_2 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_3 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_4 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_5 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_6 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_7 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_8 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_9 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_10 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_11 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_12 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_13 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_14 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_15 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_16 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_17 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_18 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_19 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_20 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_21 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_22 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_23 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
bin_0 (Embedding)               (None, 1, 2)         8           input_1[0][0]
__________________________________________________________________________________________________
bin_1 (Embedding)               (None, 1, 2)         8           input_2[0][0]
__________________________________________________________________________________________________
bin_2 (Embedding)               (None, 1, 2)         8           input_3[0][0]
__________________________________________________________________________________________________
bin_3 (Embedding)               (None, 1, 2)         8           input_4[0][0]
__________________________________________________________________________________________________
bin_4 (Embedding)               (None, 1, 2)         8           input_5[0][0]
__________________________________________________________________________________________________
nom_0 (Embedding)               (None, 1, 2)         10          input_6[0][0]
__________________________________________________________________________________________________
nom_1 (Embedding)               (None, 1, 4)         32          input_7[0][0]
__________________________________________________________________________________________________
nom_2 (Embedding)               (None, 1, 4)         32          input_8[0][0]
__________________________________________________________________________________________________
nom_3 (Embedding)               (None, 1, 4)         32          input_9[0][0]
__________________________________________________________________________________________________
nom_4 (Embedding)               (None, 1, 3)         18          input_10[0][0]
__________________________________________________________________________________________________
nom_5 (Embedding)               (None, 1, 50)        61100       input_11[0][0]
__________________________________________________________________________________________________
nom_6 (Embedding)               (None, 1, 50)        76100       input_12[0][0]
__________________________________________________________________________________________________
nom_7 (Embedding)               (None, 1, 50)        11200       input_13[0][0]
__________________________________________________________________________________________________
nom_8 (Embedding)               (None, 1, 50)        11200       input_14[0][0]
__________________________________________________________________________________________________
nom_9 (Embedding)               (None, 1, 50)        111000      input_15[0][0]
__________________________________________________________________________________________________
ord_0 (Embedding)               (None, 1, 2)         10          input_16[0][0]
__________________________________________________________________________________________________
ord_1 (Embedding)               (None, 1, 3)         21          input_17[0][0]
__________________________________________________________________________________________________
ord_2 (Embedding)               (None, 1, 4)         32          input_18[0][0]
__________________________________________________________________________________________________
ord_3 (Embedding)               (None, 1, 8)         136         input_19[0][0]
__________________________________________________________________________________________________
ord_4 (Embedding)               (None, 1, 14)        392         input_20[0][0]
__________________________________________________________________________________________________
ord_5 (Embedding)               (None, 1, 50)        9600        input_21[0][0]
__________________________________________________________________________________________________
day (Embedding)                 (None, 1, 4)         36          input_22[0][0]
__________________________________________________________________________________________________
month (Embedding)               (None, 1, 7)         98          input_23[0][0]
__________________________________________________________________________________________________
spatial_dropout1d (SpatialDropo (None, 1, 2)         0           bin_0[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_1 (SpatialDro (None, 1, 2)         0           bin_1[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_2 (SpatialDro (None, 1, 2)         0           bin_2[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_3 (SpatialDro (None, 1, 2)         0           bin_3[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_4 (SpatialDro (None, 1, 2)         0           bin_4[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_5 (SpatialDro (None, 1, 2)         0           nom_0[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_6 (SpatialDro (None, 1, 4)         0           nom_1[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_7 (SpatialDro (None, 1, 4)         0           nom_2[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_8 (SpatialDro (None, 1, 4)         0           nom_3[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_9 (SpatialDro (None, 1, 3)         0           nom_4[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_10 (SpatialDr (None, 1, 50)        0           nom_5[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_11 (SpatialDr (None, 1, 50)        0           nom_6[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_12 (SpatialDr (None, 1, 50)        0           nom_7[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_13 (SpatialDr (None, 1, 50)        0           nom_8[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_14 (SpatialDr (None, 1, 50)        0           nom_9[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_15 (SpatialDr (None, 1, 2)         0           ord_0[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_16 (SpatialDr (None, 1, 3)         0           ord_1[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_17 (SpatialDr (None, 1, 4)         0           ord_2[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_18 (SpatialDr (None, 1, 8)         0           ord_3[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_19 (SpatialDr (None, 1, 14)        0           ord_4[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_20 (SpatialDr (None, 1, 50)        0           ord_5[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_21 (SpatialDr (None, 1, 4)         0           day[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_22 (SpatialDr (None, 1, 7)         0           month[0][0]
__________________________________________________________________________________________________
reshape (Reshape)               (None, 2)            0           spatial_dropout1d[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 2)            0           spatial_dropout1d_1[0][0]
__________________________________________________________________________________________________
reshape_2 (Reshape)             (None, 2)            0           spatial_dropout1d_2[0][0]
__________________________________________________________________________________________________
reshape_3 (Reshape)             (None, 2)            0           spatial_dropout1d_3[0][0]
__________________________________________________________________________________________________
reshape_4 (Reshape)             (None, 2)            0           spatial_dropout1d_4[0][0]
__________________________________________________________________________________________________
reshape_5 (Reshape)             (None, 2)            0           spatial_dropout1d_5[0][0]
__________________________________________________________________________________________________
reshape_6 (Reshape)             (None, 4)            0           spatial_dropout1d_6[0][0]
__________________________________________________________________________________________________
reshape_7 (Reshape)             (None, 4)            0           spatial_dropout1d_7[0][0]
__________________________________________________________________________________________________
reshape_8 (Reshape)             (None, 4)            0           spatial_dropout1d_8[0][0]
__________________________________________________________________________________________________
reshape_9 (Reshape)             (None, 3)            0           spatial_dropout1d_9[0][0]
__________________________________________________________________________________________________
reshape_10 (Reshape)            (None, 50)           0           spatial_dropout1d_10[0][0]
__________________________________________________________________________________________________
reshape_11 (Reshape)            (None, 50)           0           spatial_dropout1d_11[0][0]
__________________________________________________________________________________________________
reshape_12 (Reshape)            (None, 50)           0           spatial_dropout1d_12[0][0]
__________________________________________________________________________________________________
reshape_13 (Reshape)            (None, 50)           0           spatial_dropout1d_13[0][0]
__________________________________________________________________________________________________
reshape_14 (Reshape)            (None, 50)           0           spatial_dropout1d_14[0][0]
__________________________________________________________________________________________________
reshape_15 (Reshape)            (None, 2)            0           spatial_dropout1d_15[0][0]
__________________________________________________________________________________________________
reshape_16 (Reshape)            (None, 3)            0           spatial_dropout1d_16[0][0]
__________________________________________________________________________________________________
reshape_17 (Reshape)            (None, 4)            0           spatial_dropout1d_17[0][0]
__________________________________________________________________________________________________
reshape_18 (Reshape)            (None, 8)            0           spatial_dropout1d_18[0][0]
__________________________________________________________________________________________________
reshape_19 (Reshape)            (None, 14)           0           spatial_dropout1d_19[0][0]
__________________________________________________________________________________________________
reshape_20 (Reshape)            (None, 50)           0           spatial_dropout1d_20[0][0]
__________________________________________________________________________________________________
reshape_21 (Reshape)            (None, 4)            0           spatial_dropout1d_21[0][0]
__________________________________________________________________________________________________
reshape_22 (Reshape)            (None, 7)            0           spatial_dropout1d_22[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 369)          0           reshape[0][0]
                                                                 reshape_1[0][0]
                                                                 reshape_2[0][0]
                                                                 reshape_3[0][0]
                                                                 reshape_4[0][0]
                                                                 reshape_5[0][0]
                                                                 reshape_6[0][0]
                                                                 reshape_7[0][0]
                                                                 reshape_8[0][0]
                                                                 reshape_9[0][0]
                                                                 reshape_10[0][0]
                                                                 reshape_11[0][0]
                                                                 reshape_12[0][0]
                                                                 reshape_13[0][0]
                                                                 reshape_14[0][0]
                                                                 reshape_15[0][0]
                                                                 reshape_16[0][0]
                                                                 reshape_17[0][0]
                                                                 reshape_18[0][0]
                                                                 reshape_19[0][0]
                                                                 reshape_20[0][0]
                                                                 reshape_21[0][0]
                                                                 reshape_22[0][0]
__________________________________________________________________________________________________
batch_normalization_v1 (BatchNo (None, 369)          1476        concatenate[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 300)          111000      batch_normalization_v1[0][0]
__________________________________________________________________________________________________
dropout (Dropout)               (None, 300)          0           dense[0][0]
__________________________________________________________________________________________________
batch_normalization_v1_1 (Batch (None, 300)          1200        dropout[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 300)          90300       batch_normalization_v1_1[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 300)          0           dense_1[0][0]
__________________________________________________________________________________________________
batch_normalization_v1_2 (Batch (None, 300)          1200        dropout_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 2)            602         batch_normalization_v1_2[0][0]
==================================================================================================
Total params: 486,867
Trainable params: 484,929
Non-trainable params: 1,938
__________________________________________________________________________________________________

In [5]:
data_dir = '../Data/Cat-in-the-dat/'

In [6]:
pd.set_option('display.max_columns', 30)

In [7]:
train = pd.read_csv(f'{data_dir}train.csv')
test = pd.read_csv(f'{data_dir}test.csv')
sample = pd.read_csv(f'{data_dir}sample_submission.csv')

## A Bit of EDA

In [8]:
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [9]:
train['target'].unique()

array([0, 1])

In [10]:
len(train)

600000

In [11]:
train['day'].nunique()

7

In [12]:
len(sample) == len(test)

True

## Back to training loop

In [ ]:
test

test['target'] = -1
data = pd.concat([train, test]).reset_index(drop=True)

features = [x for x in train.columns if x not in ['id', 'target']]

for feat in features:
    label_enc = preprocessing.LabelEncoder()
    data[feat] = label_enc.fit_transform(data[feat].fillna('-1').
                                         astype(str).values)

data.nom_6.nunique()

In [ ]:
test['target'] = -1
data = pd.concat([train, test]).reset_index(drop=True)

features = [x for x in train.columns if x not in ['id', 'target']]

for feat in features:
    label_enc = preprocessing.LabelEncoder()
    data[feat] = label_enc.fit_transform(data[feat].fillna('-1').
                                         astype(str).values)

In [ ]:
len(train.columns)

In [ ]:
len(test.columns)

In [ ]:
len(data.columns)

In [ ]:
len(train), len(test), len(data)

In [23]:
train = data[data.target != -1].reset_index(drop=True)
test = data[data.target == -1].reset_index(drop=True)

test_data = [test.loc[:, features].values[:, k] for k in 
             range(test.loc[:, features].values.shape[1])]

In [33]:
# test.loc[:, features]

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,1,1,1,1,2,1,2,1,4,3,373,148,141,175,2197,3,5,1,6,21,147,3,12
1,1,1,1,1,2,3,1,5,6,1,485,838,98,5,1108,1,5,2,14,14,0,2,11
2,1,1,1,1,2,1,1,1,6,4,612,677,102,17,813,1,2,6,9,14,13,2,9
3,2,1,1,1,1,3,2,1,3,1,967,1049,190,108,997,1,2,4,13,2,1,1,9
4,1,1,2,1,2,3,1,0,4,4,1157,686,191,31,372,1,1,5,15,10,15,3,6
5,1,1,1,0,2,3,4,1,3,4,998,1488,88,103,425,3,3,2,5,25,166,5,9
6,1,1,1,1,2,3,5,1,6,1,1204,60,165,106,2060,2,5,5,14,21,61,1,9
7,1,1,2,1,1,3,5,1,5,2,1139,513,140,82,651,1,3,1,6,0,152,2,9
8,1,1,1,2,2,3,6,3,6,1,922,853,49,127,2007,2,4,6,3,25,143,5,8
9,1,1,1,1,1,2,2,5,3,1,848,114,58,30,122,2,5,4,11,13,104,7,5
10,2,1,2,1,1,3,1,1,3,1,1123,263,5,149,1003,2,2,1,6,16,136,5,5
11,1,2,1,2,2,1,6,3,3,4,1219,60,127,89,1792,2,5,6,15,1,46,5,10
12,1,1,2,2,2,0,1,4,4,4,333,567,140,127,442,1,5,4,15,16,80,7,9
13,1,2,2,2,2,1,2,1,3,4,750,284,63,221,1809,1,4,3,5,13,31,3,5
14,1,1,1,2,2,3,6,4,2,0,964,241,199,113,1162,2,2,2,13,14,45,1,9
15,1,2,2,1,2,3,1,1,1,4,390,211,48,186,2134,3,2,6,7,8,150,5,8
16,1,1,1,2,2,3,1,4,5,4,1144,649,43,159,206,2,1,2,8,18,170,5,3
17,1,0,1,1,1,1,6,4,3,4,472,1198,163,207,1220,1,4,0,8,14,134,7,1
18,1,1,2,2,2,3,1,3,3,1,397,1093,0,205,1934,3,4,3,13,0,23,3,12
19,1,1,1,1,1,3,6,3,3,1,381,631,165,18,369,2,5,6,9,3,18,6,4
20,1,2,1,1,1,1,2,1,3,3,1028,1203,63,170,633,2,3,2,5,25,0,3,11
21,1,1,1,1,1,3,1,1,6,4,772,0,135,191,271,1,4,2,9,21,140,7,1
22,2,1,2,1,1,1,6,5,3,1,62,1038,81,163,760,2,4,3,9,8,38,1,3
23,1,2,1,2,1,3,6,4,6,3,704,1469,33,209,1508,3,3,1,1,24,57,3,7
24,1,1,1,2,1,2,5,1,6,4,160,15,125,206,926,1,1,2,6,24,49,6,3
25,1,1,2,2,1,1,3,5,3,1,378,1516,0,76,1745,1,3,3,13,19,88,2,5
26,1,1,2,1,2,3,6,4,6,1,0,0,124,5,1746,3,1,3,2,15,21,6,1
27,1,1,1,0,1,1,1,4,6,3,756,1020,44,159,1070,1,5,1,15,15,72,5,11
28,1,1,0,2,1,1,2,5,4,4,387,1317,199,103,786,2,4,6,13,3,79,3,6
29,1,1,0,1,1,1,5,4,6,4,917,1038,54,29,719,3,5,4,7,7,185,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399970,1,2,1,2,1,3,6,3,6,1,144,1419,136,96,382,3,2,2,3,14,129,2,1
399971,1,2,2,1,2,1,4,1,6,3,1159,871,107,209,1293,2,4,1,13,5,75,5,1
399972,1,1,2,1,2,3,4,4,4,4,1147,876,90,149,1993,3,2,2,3,11,144,5,6
399973,1,1,1,2,1,1,6,4,4,3,431,415,135,159,1525,1,5,6,3,1,160,3,9
399974,1,1,1,1,0,1,2,5,6,4,119,518,118,194,851,1,2,5,15,15,135,5,4
399975,1,1,1,2,2,1,5,5,3,4,468,1000,43,199,1413,2,5,5,3,17,27,6,12
399976,1,2,1,1,1,3,6,3,3,4,233,404,112,38,1415,3,5,6,3,24,110,2,10
399977,2,1,1,1,2,3,2,1,2,4,530,1420,213,95,1848,1,5,6,1,6,72,6,5
399978,1,1,1,1,2,3,6,3,6,1,459,384,140,213,1263,1,5,4,1,9,183,7,9
399979,1,1,1,2,1,3,2,4,4,1,892,300,42,210,682,1,5,1,9,5,14,1,5
399980,1,1,1,2,1,2,5,4,3,4,907,239,27,36,257,2,1,6,3,4,157,1,9
399981,1,1,2,1,1,3,5,3,4,4,88,589,112,124,177,3,2,1,11,24,130,1,6
399982,1,2,0,1,2,1,0,4,5,4,17,772,149,24,53,3,4,3,13,16,113,3,9
399983,1,1,2,2,1,1,5,1,4,3,1093,713,127,6,1248,1,4,5,5,16,103,0,1
399984,1,1,1,2,1,2,2,4,6,4,1110,746,76,62,700,3,4,5,15,18,39,3,6
399985,2,2,2,1,1,1,2,5,0,4,665,707,183,103,1929,2,5,6,11,20,0,6,4
399986,1,1,0,1,2,3,6,4,5,4,176,400,64,25,1346,0,1,2,15,4,125,7,8
399987,1,1,1,0,2,1,5,4,3,3,505,863,186,123,912,3,5,4,8,20,85,3,11
399988,1,1,2,1,1,3,5,0,6,4,993,811,183,96,1432,3,4,1,2,14,118,5,4
399989,1,2,1,2,2,3,1,4,3,1,729,1181,58,198,264,1,2,6,5,17,13,3,3
399990,1,1,1,1,2,3,2,1,3,4,603,616,40,17,501,1,4,2,14,18,183,6,8
399991,1,1,1,2,2,3,6,5,5,4,310,1312,3,0,1412,3,1,4,15,20,106,2,11
399992,1,1,1,2,1,3,2,5,2,4,8,1248,154,97,1207,3,2,3,13,16,103,6,6
399993,1,1,2,1,1,3,2,1,2,4,130,1042,68,96,833,3,5,5,8,24,134,2,10
399994,1,2,1,1,1,3,6,1,4,4,747,1075,193,156,882,3,4,4,2,11,90,1,10
399995,1,1,2,2,1,3,5,1,3,4,701,606,58,172,616,2,2,6,14,18,104,2,4
399996,1,1,1,1,1,3,2,3,6,4,668,775,217,30,1987,1,1,0,14,24,80,1,8
399997,1,1,2,2,1,3,6,4,0,4,487,166,53,178,632,1,3,1,13,16,74,1,9
399998,1,1,1,1,2,3,1,3,3,4,291,89,50,45,1988,3,5,5,8,12,12,2,3
399999,1,1,2,1,1,1,1,5,4,1,22,272,101,197,700,3,1,3,3,14,178,3,9

In [36]:
((test.loc[:, features]).values[:, 0])

400000

In [35]:
(test.loc[:, features].values.shape)

(400000, 23)

In [ ]:
# (train.target.values)

In [37]:
features

['bin_0',
 'bin_1',
 'bin_2',
 'bin_3',
 'bin_4',
 'nom_0',
 'nom_1',
 'nom_2',
 'nom_3',
 'nom_4',
 'nom_5',
 'nom_6',
 'nom_7',
 'nom_8',
 'nom_9',
 'ord_0',
 'ord_1',
 'ord_2',
 'ord_3',
 'ord_4',
 'ord_5',
 'day',
 'month']

In [ ]:
oof_preds = np.zeros(len(train))
test_preds = np.zeros(len(test))

skf = StratifiedKFold(n_splits=50)

for train_index, test_index in skf.split(train, train.target.values):
    X_train, X_test = train.iloc[train_index, :], train.iloc[test_index, :]
    X_train = X_train.reset_index(drop=True)
    X_test = X_test.reset_index(drop=True)
    y_train, y_test = X_train.target.values, X_test.target.values
    
    model = create_model(data, features)
    model.compile(loss='binary_crossentropy', optimizer='adam',
                  metrics = [auc])
    
    X_train = [X_train.loc[:, features].values[:, k] for k in range(X_train.loc[:, features].values.shape[1])]
    
    X_test = [X_test.loc[:, features].values[:, k] for k in range(X_test.loc[:, features].values.shape[1])]
    
    
    es = callbacks.EarlyStopping(monitor='val_auc', min_delta=0.001,
                                 patience=5, verbose=1, mode='max',
                                baseline=None, restore_best_weights=True)
    rlr = callbacks.ReduceLROnPlateau(monitor='val_auc', factor=0.5,
                                    patience=3, min_lr=1e-06, mode='max',
                                    verbose=1)
    
    model.fit(X_train, utils.to_categorical(y_train), 
             validation_data=(X_test, utils.to_categorical(y_test)),
             verbose=1, batch_size=1024, callbacks=[es, rlr],
             epochs = 100)
    
    vaild_fold_preds = model.predict(X_test)[:, 1]
    test_fold_preds = model.predict(test_data)[:, 1]
    
    oof_preds[test_index] = valid_fold_preds.ravel()
    
    test_preds += test_fold_preds.ravel()
    
    print(metrics.roc_auc_score(y_test, valid_fold_preds))
    K.clear_session()

In [ ]:
print('Overall AUC = {}'.format(metrics.roc_auc_score(train.target.values,
                                                     oof_preds)))

In [ ]:
test_preds /= 50
test_ids = test.id.values
print("saving submisssion file")

submission = pd.DataFrame.from_dict({'id': test_ids,
                                    'target': test_preds})

submission.to_csv('submission.csv', index=False)